.carousel{
	/*background: #999;*/
	height: 540px;
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}
.carsousel-imgs{
	/*width: 2880px;*/
	height: 540px;
	position: absolute;
	left:0;
}
.carousel img{
	width: 960px;
	height: 540px;
}
.carousel-btns{
	/*display: inline-block;*/
	position: absolute;
	right:5px;
	bottom: 5px;
}
.carousel-btns li{
	width: 10px;
	height: 10px;
	background: #f09388;
	display:inline-block;
	margin-right: 5px;
}
.carousel-btns .car-selected{
	background: #e5412d;
}
.dissel{
	display: none;
}

/*轮播图结束*/
.showflower{
	/*font-size: 0;*/
}
.showflower ul{
	width: 230px;
	display: inline-block;
	margin-right: 10px;
}
.showflower ul:first-child{
	margin-left: 5px;
}
.showflower ul:last-child{
	margin-right: 5px;
}
.showflower img{
	width: 230px;
}
.showflower ul li{
	margin-bottom: 10px;
}
.info-flower{
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
}
.putin-cart{
	height: 50px;
}
.putin-cart span{
	width: 80px;
	height: 20px;
	background: #777;
	padding: 5px;
	display: inline-block;
	margin-right: 15px;
	text-align: center;
}
.putin-cart .pro-info{
	float: right;
	margin-right: 0;
}
