.login{
	width: 500px;
	height: 400px;
	background: #efefef;
	margin-left: 180px;
	margin-top: 25px;
}
.login-flower{
	width: 400px;
	height: 400px;
	background: #efefef;
	margin-left: 180px;
	margin-top: 25px;
}